<!-- *******************************************header******************************************************** -->

<header class="header-principal  headertrans ">
    <div class="wrapper" id="wrapper">

        <a href="#home"><img class="logo" src="../assets/Fotos/LOGO-INVERTIDO.svg" alt="logo"></a>

        <ul class="media">
            <li><a href="https://www.instagram.com/gqeventos/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </li>
            <li><a href="https://www.facebook.com/gqeventos/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
            </li>
            <li><a href="https://twitter.com/gq_info" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
            <li><a href="mailto:gqfotoyvideo@gmail.com"><i class="fas fa-envelope fa-2x"></i>

            </a></li>
        </ul>
        <nav>
            <ul>
                <li><a href="#nosotros">Nosotros</a> </li>
                <li><a href="#combos">Combos</a></li>
                <li><a href="#productos">Productos</a> </li>
                <li><a href="#contacto">Contacto</a> </li>
                <li>
                    <div ngbDropdown placement="bottom-right">
                        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Clientes</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="clientId">Ingrese su Nº de Cliente</label>
                                    <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="hash"
                                        [(ngModel)]="hash" required>
                                </div>
                                <button type="submit" class="btn btn-outline-secondary"
                                    (click)="submitClientId()">Aceptar</button>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div ngbDropdown placement="bottom-right">
                        <button class="btn btn-outline-secondary" id="dropdownForm1" ngbDropdownToggle>GQ</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="user"
                                        [(ngModel)]="user" required>
                                    <input type="password" class="form-control" id="exampleDropdownFormEmail1"
                                        name="password" [(ngModel)]="password" required>
                                </div>
                                <button type="submit" class="btn btn-outline-secondary"
                                    (click)="adminLogin()">Ingresar</button>
                            </form>
                        </div>
                    </div>
                </li>

            </ul>
        </nav>




    </div>


</header>















<!-- ******************************************************************************************************* -->















<app-home>



</app-home>
<app-galeria></app-galeria>
<app-nosotros></app-nosotros>
<app-combos></app-combos>
<app-productos></app-productos>
<app-contactanos></app-contactanos>