<!-- *******************************************header******************************************************** -->

<header class="header-principal  headertrans ">
    <div class="wrapper" id="wrapper">

        <a href="#home"><img class="logo" src="../assets/Fotos/LOGO-INVERTIDO.svg" alt="logo"></a>

        <nav>
            <ul>
                <li><a href="#nosotros">Nosotros</a> </li>
                <li><a href="#combos">Combos</a></li>
                <li><a href="#productos">Productos</a> </li>
                <li><a href="#contacto">Contacto</a> </li>
                <li>
                    <div ngbDropdown placement="bottom-right">
                        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Clientes</button>

                        <div ngbDropdownMenu>
                            <div class="dropMenu">
                                <h4>Ingrese su Nº de Cliente</h4>

                                <form #userid="ngForm" (ngSubmit)="submitClientId();">
                                    <mat-form-field>
                                        <mat-label>Nº cliente</mat-label>
                                        <input matInput ngModel #clientId="ngModel" name="hash" [(ngModel)]="hash" required>
                                        <mat-hint>Proporcionado por el fotografo</mat-hint>
                                        <mat-error *ngIf="clientId.touched && clientId.errors">
                                            <mat-error *ngIf="clientId.errors.required">Este campo es requerido</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <button class="btn btn-secondary" [disabled]="!userid.valid">Aceptar</button>
                                </form>
                            </div>

                        </div>

                    </div>
                </li>
                <li>
                    <div ngbDropdown placement="bottom-right">
                        <button class="btn btn-outline-secondary" id="dropdownForm1" ngbDropdownToggle>GQ</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleDropdownFormEmail1" name="user" [(ngModel)]="user" required>
                                    <input type="password" class="form-control" id="exampleDropdownFormEmail1" name="password" [(ngModel)]="password" required>
                                </div>
                                <button type="submit" class="btn btn-outline-secondary" (click)="adminLogin()">Ingresar</button>
                            </form>
                        </div>
                    </div>
                </li>

            </ul>
        </nav>




    </div>


</header>















<!-- ******************************************************************************************************* -->















<app-home>



</app-home>
<app-galeria></app-galeria>
<app-nosotros></app-nosotros>
<app-combos></app-combos>
<app-productos></app-productos>
<app-contactanos></app-contactanos>