<!-- *******************************************header******************************************************** -->

<header class="header-principal  headertrans ">
    <div class="wrapper" id="wrapper">

        <a routerLink="/"><img class="logo" src="../assets/Fotos/LOGO-INVERTIDO.svg" alt="logo"></a>

        <nav>
            <ul>
                <li><a href="">Contacto</a> </li>
                <li>
                    <a href="">Nosotros</a> </li>
                <li>
                    <a href="">Productos</a> </li>
                <li>
                    <a href="">Combos</a> </li>
                <li>
                    <div ngbDropdown>
                        <button class="btn btn-outline eon6-primarycolor-bd" id="dropdownForm1" ngbDropdownToggle>Clientes</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">Ingrese su Nº Cliente</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1">
                                </div>
                                <button type="submit" class="btn">Aceptar</button>
                            </form>
                        </div>
                    </div>
                </li>

            </ul>
        </nav>




    </div>


</header>















<!-- ******************************************************************************************************* -->















<app-home>



</app-home>
<app-galeria></app-galeria>
<app-nosotros></app-nosotros>
<app-combos></app-combos>
<app-productos></app-productos>
<app-contactanos></app-contactanos>