<div class="cont-panel-admin">

    <header>
        <div class="tlb">
            <img src="../../../assets/Fotos/LOGO-INVERTIDO.svg" alt="logo">
            <h1>Panel Administrativo</h1>
        </div>
        <div class="btns">

            <h2>Clientes</h2>
            <div>
                <button mat-fab>+</button>
                <p> Agregar <br> Galeria
                </p>
            </div>
            <div>
                <button mat-fab>-</button>
                <p> Borrar <br> Galeria
                </p>
            </div>

        </div>

    </header>

    <div class="borde"></div>

    <div class="cont-gala-cli">




    </div>















</div>