.cont-panel-admin {
    background: #FFFFF0;
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    header {
        display: flex;
        justify-content: flex-start;
        width: 100vw;
        img {
            width: 10%;
        }
        h1 {
            font-size: 56px;
        }
    }
}

.borde {
    width: 95%;
    border: 1px solid #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.cont-gala-cli {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    background: coral;
}