<div class="cont-panel-admin">

    <header>
        <div class="tlb">
            <img src="../../../assets/Fotos/LOGO-INVERTIDO.svg" alt="logo">
            <h1>Panel Administrativo</h1>
        </div>

        <div class="btns">
            <h2>Clientes</h2>
            <div>
                <button mat-mini-fab>+</button>
                <p>Agregar<br>Galeria</p>
            </div>
            <div>
                <button mat-mini-fab>-</button>
                <p>Borrar<br>Galeria</p>
            </div>

        </div>

    </header>

    <div class="borde"></div>

    <div class="cont-gala-cli">

        <ng-container *ngFor="let photo of photos">
            <!-- solo para resposnsive -->
            <div class="column">
                <!-- cada tarjeta -->
                <div class="tarjeta">
                    <span>
                        <h3>Nomnbre:</h3>
                        <h3>Nº Cliente:</h3>
                    </span>
                    <div class="stackPics">
                        <img class="stack_1" src="../../../assets/Fotos/photo1.jpg" alt="">
                        <img class="stack_2" src="../../../assets/Fotos/photo2.jpg" alt="">
                        <img class="stack_3" src="../../../assets/Fotos/photo3.jpg" alt="">
                    </div>

                </div>
            </div>
        </ng-container>

        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>



</div>