<div class="cont-panel-admin">




    <header>
        <div class="contenedor">
            <div class="titulo">
                <h1>Panel Administrativo</h1>
                <h2>Clientes</h2>
            </div>


            <div class="btn">
                <button mat-mini-fab class="mas"><i class="material-icons">add</i></button>
                <p>Agregar<br>Galeria</p>

            </div>

            <button type="button" routerLink="/" class="btn btn-outline-danger">Inicio</button>

        </div>

        <div class="borde"></div>

    </header>




    <div class="cont-gala-cli">

        <ng-container *ngFor="let client of clients">
            <!-- solo para resposnsive -->
            <div class="column">
                <!-- cada tarjeta -->
                <div class="tarjeta">

                    <div class="cabecera">
                        <div class="renglon">
                            <p><span>Nombre:</span> {{client.name}}</p>
                            <p><span>Nº Cliente:</span> {{client.hash}}</p>
                        </div>

                        <button class="papelera" mat-icon-button (click)="open(content)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <div class="stackPics">
                        <img class="stack_1" [src]="client.img01" alt="">
                        <img class="stack_2" [src]="client.img02" alt="">
                        <img class="stack_3" [src]="client.img03" alt="">
                    </div>


                </div>
            </div>
        </ng-container>

        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>

    <!-- *************************************************Modal******************************************************* -->

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
            <p>Hello, World!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div>
    </ng-template>

    <!-- ************************************************************************************************************** -->



</div>