<div class="contenedor">

    <div class="parallax">

        <p class="opacity"></p>

        <p>"Lo importante es ver aquello que resulta invisible para los demás"</p>

    </div>

    <h1 id="contacto">Contactanos</h1>
    <div class="linea"></div>
    <h2>Deja un mensaje y nos pondremos en contacto.</h2>

    <div class="contacto">
        <div class="datos">
            <img src="../../../assets/Icons/location.png" alt="" style="width: 32px;">Mendoza 1080 PA - "Estudio 1080"
            <div class="linea-contacto"></div>
            <img src="../../../assets/Icons/ant-design_clock-circle-outline.png" alt="">Coordinar Cita Previa
            <div class="linea-contacto"></div>
            <img src="../../../assets/Icons/ic-baseline-phone.png" alt="phone">341-5483223 - Lila Quiroz
            <div class="linea-contacto"></div>
            <img src="../../../assets/Icons/ant-design_mail-outline.png" alt="mail"> <a
                href="mailto:gqfotoyvideo@gmail.com">gqfotoyvideo@gmail.com </a>
            <div class="linea-contacto"></div>
        </div>
        <div class="container">
            <form action="action_page.php">
                <div class="row">
                    <div class="col-25">
                        <label for="name">Nombre:</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="name" name="name" placeholder="nombre...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">E-mail:</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="email" name="email" placeholder="E-mail...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Teléfono:</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="telefono" name="telefono" placeholder="telefono (ej:341-333333)...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-26">
                        <label for="subject">Mensaje:</label>
                    </div>
                    <div class="col-75">
                        <textarea id="mensaje" name="mensaje" placeholder="Escriba su mensaje..."
                            style="height:200px"></textarea>
                        <div class="row">
                            <input type="submit" value="Enviar Mensaje">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>