<div class="contenedor">

    <div class="parallax">

        <p class="opacity"></p>
        <p>"Lo importante es ver aquello que resulta invisible para los demás"</p>

    </div>

    <h1>Contactanos</h1>
    <div class= "linea"></div>
    <h2>Deja un mensaje y nos pondremos en contacto.</h2>

    <div class="contacto">
        <div class="datos">Cordoba 1060 3er. piso Oficina 7 (solo con cita)</div>
        <div class="formulario"><form action="/my-handling-form-page" method="post">
            <div>
              <label for="name">Name:</label>
              <input type="text" id="name" name="user_name">
            </div>
            <div>
              <label for="mail">E-mail:</label>
              <input type="email" id="mail" name="user_mail">
            </div>
            <div>
              <label for="msg">Message:</label>
              <textarea id="msg" name="user_message"></textarea>
            </div>
          </form></div>
    </div>

</div>