<div class="contenedor">

  <div class="parallax">

    <p class="opacity"></p>
    <p>"Lo importante es ver aquello que resulta invisible para los demás"</p>

  </div>

  <h1>Contactanos</h1>
  <h2>Deja un mensaje y nos pondremos en contacto.</h2>

  <div class="contacto">
    <div class="datos">
      <img src="../../../assets/Icons/location.png" alt="location" style="margin-right: 2vw;"><span> Cordoba 1060 3er.
        piso Oficina 7 (solo con cita)</span>
      <div class="linea-contacto"></div>
      <img src="../../../assets/Icons/ant-design_clock-circle-outline.png" alt=""> 9:00 - 17:00 (lun - vie)
      <div class="linea-contacto"></div>
      <img src="../../../assets/Icons/ic-baseline-phone.png" alt="phone"> 341-5483223 - Lila
      <div class="linea-contacto"></div>
      <img src="../../../assets/Icons/ic-baseline-phone.png" alt="phone">341-5483223 - Lila
      <div class="linea-contacto"></div>
      <img src="../../../assets/Icons/ant-design_mail-outline.png" alt="mail"> mail@tumail.com
      <div class="linea-contacto"></div>
      <img src="../../../assets/Icons/ant-design_mail-outline.png" alt="mail"> mail@tumail.com
      <div class="linea-contacto"></div>
    </div>
    <div class="container">
      <form action="action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="name">Nombre:</label>
          </div>
          <div class="col-75">
            <input type="text" id="name" name="name" placeholder="nombre...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">E-mail:</label>
          </div>
          <div class="col-75">
            <input type="text" id="email" name="email" placeholder="E-mail...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Teléfono:</label>
          </div>
          <div class="col-75">
            <input type="text" id="telefono" name="telefono" placeholder="telefono (ej:341-333333)...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Mensaje:</label>
          </div>
          <div class="col-75">
            <textarea id="mensaje" name="mensaje" placeholder="Escriba su mensaje..." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
          <input type="submit" value="Enviar Mensaje">
        </div>
      </form>
    </div>
  </div>

</div>