<div class="container" id="productos">

    <h1>Productos</h1>

    <div class="grid">
        <div class="one">
            <a class="thumbnail" (click)="open()">
                <h2>
                    Gigantografias
                </h2>
                <p class="opacity"></p>
            </a>
        </div>
        <div class="two">
            <a class="thumbnail" (click)="open()">
                <h2>
                    videos con fotos
                </h2>
                <p class="opacity"></p>
            </a>
        </div>
        <div class="three">
            <a class="thumbnail" (click)="open()">
                <h2>
                    centros de mesa fotográficos
                </h2>
                <p class="opacity"></p>
            </a>
        </div>
        <div class="four">
            <a class="thumbnail" (click)="open()">
                <h2>
                    fotolibros
                </h2>
                <p class="opacity"></p>
            </a>
        </div>
        <div class="five">
            <a class="thumbnail" (click)="open()">
                <h2>

                    props
                </h2>
                <p class="opacity"></p>
            </a>
        </div>
        <div class="six">
            <a class="thumbnail" (click)="open()">
                <h2>
                    murales
                </h2>
                <p class="opacity"></p>
            </a>
        </div>
    </div>
</div>