<div id="productos">

    <h1>Productos</h1>

    <div class="container">
        <div class="grid">
            <div class="one">
                <a class="thumbnail" (click)="abrirModal(productos)">
                    <h2>
                        Fotografías y Videos de Productos
                    </h2>
                    <p class="opacity"></p>
                </a>
            </div>
            <div class="two">
                <a class="thumbnail" (click)="abrirModal(acto)">
                    <h2>
                        Fotos en el Acto
                    </h2>
                    <p class="opacity"></p>
                </a>
            </div>
            <div class="three">
                <a class="thumbnail" (click)="abrirModal(mesa)">
                    <h2>
                        Fototarjetas y Números de Mesa
                    </h2>
                    <p class="opacity"></p>
                </a>
            </div>
            <div class="four">
                <a class="thumbnail" (click)="abrirModal(fotolibro)">
                    <h2>
                        Fotolibros
                    </h2>
                    <p class="opacity"></p>
                </a>
            </div>
            <div class="five">
                <a class="thumbnail" (click)="abrirModal(pantalla)">
                    <h2>
                        Pantalla Gigante y Pantalla Rompible
                    </h2>
                    <p class="opacity"></p>
                </a>
            </div>
            <div class="six">
                <a class="thumbnail" (click)="abrirModal(murales)">
                    <h2>
                        Gigantografías y Murales
                    </h2>
                    <p class="opacity"></p>
                </a>
            </div>
        </div>
    </div>
</div>


<!--*****************************Modal Productos**************************************************** -->

<ng-template #productos let-modal>
    <ngb-carousel>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(1).jpg" alt="">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(2).jpg"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(3).jpg"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(7).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(9).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(20).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(23).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(24).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(28).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(31).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(32).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(35).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(41).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(46).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotografias-y-Videos-de-productos/img-(47).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

    </ngb-carousel>


</ng-template>


<!--*****************************Modal Acto **************************************************** -->

<ng-template #acto let-modal>
    <ngb-carousel>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotos-en-el-acto/img(1).jpg" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotos-en-el-acto/img(4).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotos-en-el-acto/img(5).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotos-en-el-acto/img(6).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotos-en-el-acto/img(7).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

    </ngb-carousel>

</ng-template>


<!--*****************************Modal Mesa **************************************************** -->

<ng-template #mesa let-modal>
    <ngb-carousel>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos//Fototarjetas-y-números-de-Mesa/img(1).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fototarjetas-y-números-de-Mesa/img(2).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fototarjetas-y-números-de-Mesa/img(3).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fototarjetas-y-números-de-Mesa/img(4).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fototarjetas-y-números-de-Mesa/img(5).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fototarjetas-y-números-de-Mesa/img(6).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

    </ngb-carousel>

</ng-template>


<!--*****************************Modal Fotolibro **************************************************** -->

<ng-template #fotolibro let-modal>

    <ngb-carousel>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(1).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(3).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(5).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(6).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(8).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(9).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(10).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/Fotolibros/img(11).JPG" class="d-block w-100" alt="...">
            </div>
        </ng-template>


    </ngb-carousel>
</ng-template>


<!--*****************************Modal Pantalla **************************************************** -->

<ng-template #pantalla let-modal>

    <ngb-carousel>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/pantalla-gigante-y-pantalla-rompíble/img(1).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/pantalla-gigante-y-pantalla-rompíble/img(2).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/pantalla-gigante-y-pantalla-rompíble/img(3).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/pantalla-gigante-y-pantalla-rompíble/img(4).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/pantalla-gigante-y-pantalla-rompíble/img(5).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/pantalla-gigante-y-pantalla-rompíble/img(6).JPG"
                    class="d-block w-100" alt="...">
            </div>
        </ng-template>


    </ngb-carousel>

</ng-template>


<!--*****************************Modal Murales**************************************************** -->

<ng-template #murales let-modal>

    <ngb-carousel>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/gigantografias-y-murales/img(2).JPG" class="d-block w-100"
                    alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/gigantografias-y-murales/img(3).JPG" class="d-block w-100"
                    alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/gigantografias-y-murales/img(4).jpg" class="d-block w-100"
                    alt="...">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="slidewindow">
                <img src="../../../assets/Fotos/productos/gigantografias-y-murales/img(5).jpg" class="d-block w-100"
                    alt="...">
            </div>
        </ng-template>


    </ngb-carousel>


</ng-template>