<div class="container">

    <h1>productos</h1>

    <div class="grid">
        <div class="one">
            <h2>
                Gigantografias
            </h2>
        </div>
        <div class="two">
            <h2>
                videos con fotos
            </h2>
        </div>
        <div class="three">
            <h2>
                centros de mesa fotográficos
            </h2>
        </div>
        <div class="four">
            <h2>
                fotolibros
            </h2>
        </div>
        <div class="five">
            <h2>
                props
            </h2>
        </div>
        <div class="six">
            <h2>
                murales
            </h2>
        </div>
    </div>
</div>