<div class="contenedor">

    <div class="header">
        <img src="../../../assets/Fotos/LOGO-INVERTIDO.png" alt="logo">
        <span class="numero"><span style="text-decoration: underline;">cliente</span>: 33-365 </span>
        <span class="nombre">nombre de cliente</span>
    </div>

    <div class="buttons">
        <button><img src="../../../assets/Icons/boton mas.png" alt="mas">Agregar Fotografía</button>
        <button><img src="../../../assets/Icons/boton menos.png" alt="menos">Eliminar Fotografías</button>
        <button mat-raised-button color="primary" style="left: 30vw; transform: translateX(-50%);">Aceptar</button>
    </div>

    <div class="borde"></div>

    <div class="cont-galeria">
        <div class="masonry">

            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (1).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (2).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (3).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (4).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (5).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (6).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (10).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (11).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (12).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (5).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (6).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>






        </div>
    </div>

</div>