<div class="contenedor">

    <div class="header">
        <img src="../../../assets/Fotos/LOGO-INVERTIDO.png" alt="logo">
        <span class="numero"><span style="text-decoration: underline;">cliente</span>: 33-365 </span>
        <span class="nombre">nombre de cliente</span>
    </div>

    <div class="buttons">
        <button><img src="../../../assets/Icons/boton mas.png" alt="mas">Agregar Fotografía</button>
        <button><img src="../../../assets/Icons/boton menos.png" alt="menos">Eliminar Fotografías</button>
        <button mat-raised-button color="primary" style="left: 30vw; transform: translateX(-50%);">Aceptar</button>
    </div>

    <div class="borde"></div>

    <div class="cont-galeria">
        <div class="masonry">

            <div class="item">
                <input type="checkbox" id="checkbox-id1" /><label for="checkbox-id1"></label>
                <label for="checkbox-id1" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (1).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id2" /><label for="checkbox-id2"></label>
                <label for="checkbox-id2" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (2).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id3" /><label for="checkbox-id3"></label>
                <label for="checkbox-id3" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (3).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id4" /><label for="checkbox-id4"></label>
                <label for="checkbox-id4" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (4).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id5" /><label for="checkbox-id5"></label>
                <label for="checkbox-id5" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (5).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id6" /><label for="checkbox-id6"></label>
                <label for="checkbox-id6" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (6).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id7" /><label for="checkbox-id7"></label>
                <label for="checkbox-id7" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id8" /><label for="checkbox-id8"></label>
                <label for="checkbox-id8" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id9" /><label for="checkbox-id9"></label>
                <label for="checkbox-id9" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (10).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id10" /><label for="checkbox-id10"></label>
                <label for="checkbox-id10" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (11).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id11" /><label for="checkbox-id11"></label>
                <label for="checkbox-id11" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (12).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id12" /><label for="checkbox-id12"></label>
                <label for="checkbox-id12" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (5).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id13" /><label for="checkbox-id13"></label>
                <label for="checkbox-id13" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (6).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id14" /><label for="checkbox-id14"></label>
                <label for="checkbox-id14" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id15" /><label for="checkbox-id15"></label>
                <label for="checkbox-id15" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id16" /><label for="checkbox-id16"></label>
                <label for="checkbox-id16" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id17" /><label for="checkbox-id17"></label>
                <label for="checkbox-id17" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id18" /><label for="checkbox-id18"></label>
                <label for="checkbox-id18" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id19" /><label for="checkbox-id19"></label>
                <label for="checkbox-id19" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id20" /><label for="checkbox-id20"></label>
                <label for="checkbox-id20" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id21" /><label for="checkbox-id21"></label>
                <label for="checkbox-id21" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id22" /><label for="checkbox-id22"></label>
                <label for="checkbox-id22" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (7).jpg" alt="">
            </div>
            <div class="item">
                <input type="checkbox" id="checkbox-id23" /><label for="checkbox-id23"></label>
                <label for="checkbox-id23" class="check"></label>
                <img src="../../../assets/Fotos/galeria-porfiolio/img- (8).jpg" alt="">
            </div>







        </div>
    </div>

</div>