<div class="contenedor">

    <header>
        <div class="cont">
            <div class="titulo">
                <h1>Administrar cliente</h1>
                <div class="client-info">

                    <p>
                        <span>Nº de cliente:</span>
                        <ng-container *ngIf="client"> {{client.hash}} </ng-container>
                    </p>
                    <p>
                        <span>Nombre:</span>
                        <ng-container *ngIf="client"> {{client.name}} </ng-container>
                    </p>
                </div>
            </div>

            <div class="btn" (click)="addPhoto()">
                <button mat-mini-fab class="mas"><i class="material-icons">add</i></button>
                <p>Agregar Fotografias</p>
                <input style="display: none;" #file type="file" accept="image/*" (change)="onInputChange($event)"
                    multiple />
            </div>

            <div class="botonera">
                <div class="botones">
                    <button type="button" routerLink="/galerias-admin" class="btn btn-outline-danger btn-block ">Volver
                    </button>
                    <button type="button" (click)="Aceptar()" class="btn btn-success btn-block">Aceptar</button>
                </div>

                <span>Seleccionadas: {{selected}}</span>
            </div>

        </div>


        <div class="borde"></div>

    </header>

    <!-- <div class="dataTest">
        <div> spinnerProgress = {{spinnerProgress}}</div>
        <div> spinerShow = {{spinnerShow}}</div>
    </div>
    <div style="margin: 50px;">
        <mat-progress-spinner style="margin: auto;" mode="determinate" [value]="spinnerProgress"></mat-progress-spinner>
    </div> -->

    <div *ngIf="spinnerShow" color="accept" style="margin: 50px;">
        <mat-spinner style="margin: auto;"></mat-spinner>
    </div>

    <div class="cont-galeria">

        <ng-container *ngFor="let photo of photos; let i=index">
            <div class="column">
                <div class="tarjeta">
                    <div class="thumbnail" (click)="open()">
                        <img [className]="photo.isSelected  ? 'selected' : 'not-selected'" [src]="photo.picture" alt="">
                    </div>

                    <div class="pie">
                        <span class="checkbox" [className]="photo.isSelected ? 'not-show' : 'show'">
                            <i class="far fa-square"></i>
                        </span>
                        <span class="checkbox" class="checkbox-check"
                            [className]="photo.isSelected ? 'show' : 'not-show'">
                            <i class="fas fa-check-square"></i>
                        </span>
                        <div class="fileName">
                            <p>{{photo.fileName}}</p>
                        </div>
                        <button mat-icon-button (click)="deletePhoto(i, photo)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>

    </div>

</div>