<div class="contenedor">

    <div class="parallax">

        <p class="para-text">“No olvides lo valiosos <br> que son los recuerdos”</p>

    </div>


    <div class="main">
        <img src="../../../assets/Fotos/DSC_0488.JPG" alt="nosotros">
        <div class="text">
            <h1 id="nosotros">Sobre Nosotros</h1>
            <p> GQEventos es una empresa emprendedora, formada en el año 2008 por: </p>

            <ul>
                <li> Diego Gimenez, Comunicador Social y Realizador Audiovisual desde el año 2003</li>
            </ul>


            <ul>
                <li> Lila Quiroz, Técnica Superior en Fotografía y Fotógrafa Social desde el mismo año.</li>
            </ul>

            <ul>
                <li> Incorporamos a nuestro equipo al Estudio 1080, donde atendemos al público y realizamos las
                    fotografías de estudio.</li>
            </ul>
            <p> Sumando conocimientos, experiencia y una gran pasión por todo lo que es audiovisual. </p>
            <p> GQEventos es la mejor opción para capturar y atesorar de manera única momentos preciados y eventos
                valiosos. </p>
            <a href="#contacto"><button mat-raised-button color="primary">reservar sesión</button></a>
        </div>

    </div>



</div>