<div class="contenedor" id="nosotros">

    <div class="parallax">

        <p>“No olvides lo valiosos que son los recuerdos”</p>

    </div>

    <h1>Sobre Nosotros</h1>

    <div class="main">
        <img src="../../../assets/Fotos/photo11.jpg" alt="nosotros">
        <div class="text">GQEventos es una empresa joven y emprendedora, formada en el año 2008 por: <br><br><br> -Diego Gimenez, Comunicador Social y Realizador Audiovisual desde el año 2003 <br> -Lila Quiroz, Técnica Superior en Fotografía y Fotógrafa Social desde el
            mismo año. <br><br><br> Sumando conocimientos, experiencia y una gran pasión por todo lo que es audiovisual. <br><br><br> GQEventos es la mejor opción para capturar y atesorar de manera única momentos preciados y eventos valiosos. <br><br>
            <button mat-raised-button color="primary">reservar sesión >></button>
        </div>

    </div>



</div>