<div class="contenedor">



    <header>
        <div class="cont">
            <div class="client-info">
                <!-- <p><span>Nº de cliente:</span>25-356</p> -->
                <p>Emilio Jose Biasizo</p>
                <p class="no">Nº : 25-365 </p>
            </div>

            <div class="titulo">
                <h1>seleccione las fotos que desea recibir!</h1>
                <p>*Haga click en cada foto para seleccionarla y una vez finalice la seleccion, haga click en aceptar para enviarlas</p>
            </div>

            <div class="botonera">
                <div class="botones">
                    <button type="button" routerLink="/" class="btn btn-outline-danger btn-block ">Volver </button>
                    <button type="button" (click)="Aceptar()" class="btn btn-success btn-block">Aceptar</button>
                </div>

                <span>Seleccionadas: {{selected}}</span>
            </div>
        </div>

        <div class="borde"></div>

    </header>


    <div class="cont-galeria">

        <ng-container *ngFor="let photo of photos; let i=index">
            <div class="column">
                <div class="tarjeta">
                    <div class="thumbnail" (click)="open()">
                        <img [className]="photo.isSelected  ? 'selected' : 'not-selected'" [src]="photo.picture" alt="">
                    </div>

                    <div class="pie" (click)="onClick(i)">
                        <span class="checkbox" [className]="photo.isSelected ? 'not-show' : 'show'"><i class="far fa-square"></i></span>
                        <span class="checkbox" class="checkbox-check" [className]="photo.isSelected ? 'show' : 'not-show'"><i class="fas fa-check-square"></i></span>
                        <div class="fileName">
                            <p>{{photo.fileName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>

    </div>

</div>