<!-- Toolbar -->





<router-outlet></router-outlet>





<!-- Footer -->
<footer>
    <div class="cont-eon6">
        <div class="eon6"><a href="https://www.eon6.tech/" target="_blank"><img
                    src="../assets/Fotos/Eon6-Logo-Icono-Web-v1.png" alt=""></a></div>
        <div class="dis-web">Diseño Web</div>
    </div>
    <p>GQ Eventos</p>
    <ul class="media">
        <li><a href="https://www.instagram.com/gqeventos/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        </li>
        <li><a href="https://www.facebook.com/gqeventos/" target="_blank"><i
                    class="fab fa-facebook-square fa-2x"></i></a>
        </li>
        <li><a href="https://twitter.com/gq_info" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
    </ul>
</footer>