@import "../app/sass_files/";
//****************************************footer****************************************************************
footer {
  background-color: #cba78d;
  height: 5vh;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  img {
    width: 4vh;
  }
  p:not(.eon6) {
    font-size: 2vh;
    width: 20vw;
  }
  .eon6 {
    font-family: julius sans one;
  }
  .media {
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    padding: 0;
    margin: 0;
    color: black;
    list-style: none;
    align-items: center;

    i {
      color: black;
      font-size: 3.1vh;
    }
  }
}

@media screen and (max-width: 510px) {
  .eon6 {
    font-size: 3vw;
  }
}
