<!-- Toolbar -->





<router-outlet></router-outlet>





<!-- Footer -->
<footer>
    <p>GQ Eventos</p>
    <p class="asd">Desarrollado por EON6</p>
    <ul class="media">
        <li><a href="https://www.instagram.com/gqeventos/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        </li>
        <li><a href="https://www.facebook.com/gqeventos/" target="_blank"><i
                    class="fab fa-facebook-square fa-2x"></i></a>
        </li>
        <li><a href="https://twitter.com/gq_info" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
    </ul>
</footer>