    @import '../app/sass_files/';
    //****************************************footer****************************************************************
    footer {
        background-color: #CBA78D;
        height: 4vh;
        @include flex-row;
        justify-content: center;
        padding: 5px 5%;
        p {
            font-size: 2vh;
        }
    }