<div class="parallax">

    <p>"captura tus momentos para hacerlos infinitos"</p>

</div>

<h2>Combos</h2>
<!-- <div class="grid" id="combos"> -->
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 card">
            <h1 class="eon6-primarycolor">Foto para Bodas</h1>
            <p>
                <b> Servicio de fotografía digital para:</b>
                <br>
                <br> Civil + sesión posterior de noche
                <br> Ceremonia
                <br>Fiesta hasta las 4am
                <br>
                <br> <b> Entregamos:</b>
                <br>
                <br> Pendrive con todas las fotografías en alta calidad.
            </p>
            <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 card">

            <h1 class="eon6-primarycolor">Foto Para Quinces</h1>
            <p>
                <b> Servicio de fotografía para:</b>
                <br>
                <br> Todo el evento hasta las 4 am
                <br> Sesión de fotos de día
                <br>Sesión de fotos de noche
                <br>
                <br><b>Entregamos:</b>
                <br>
                <br> Pendrive con todas las fotos alta calidad.
            </p>
            <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 card">

            <h1 class="eon6-primarycolor">Bodas Foto y Video</h1>
            <p>
                <b> Servicio de fotografía digital para:</b>
                <br>
                <br> Civil + sesión posterior
                <br> Sesión de noche
                <br> Ceremonia
                <br> Fiesta hasta las 4 am
                <br>
                <br> <b> Servicio de video para:</b>
                <br>
                <br> civil y sesión (backstage)
                <br> Ceremonia
                <br> Fiesta hasta las 4am
                <br>
                <br> <b> Entregamos:</b>
                <br>
                <br> Pendrive con todo el material editado en alta calidad.
            </p>

            <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 card">

            <h1 class="eon6-primarycolor">Foto y video para Quinces</h1>
            <p>
                <b> Servicio de fotografía digital para:</b>
                <br>
                <br>Sesión de día
                <br>Sesión de noche
                <br>Fiesta hasta las 4 am
                <br>
                <br><b>Servicio de video para:</b>
                <br>
                <br>Fiesta hasta las 4am
                <br>
                <br>
                <br>
                <br>
                <br><b> Entregamos:</b>
                <br>
                <br> Pendrive con todo el material editado en alta calidad.
            </p>
            <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
        </div>
    </div>
</div>

<!-- </div> -->