<div class="parallax">

    <p>"captura tus momentos <br> para hacerlos infinitos"</p>

</div>

<h2 id="combos">Combos</h2>
<!-- <div class="grid" id="combos"> -->
<div class="seccion-combos">
    <div style="width: 100%;" class="row">


        <div class="col-12 col-sm-6 col-md-3">
            <div class="card">
                <div class="title">
                    <h1 class="eon6-primarycolor">Foto Para Bodas</h1>
                </div>

                <div class="foto">
                    <b> Servicio de fotografía para: <br><br></b>
                    <ul>
                        <li> Civil + sesión posterior de noche/li>
                        <li> Ceremonia</li>
                        <li> Fiesta hasta las 4am</li>
                    </ul>
                </div>
                <div class="video"></div>
                <div class="entregamos">
                    <b>Entregamos: <br><br></b>
                    Pendrive con todas las fotos alta calidad.
                </div>
                <div class="button">
                    <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card">
                <div class="title">
                    <h1 class="eon6-primarycolor">Foto Para Quinces</h1>
                </div>

                <div class="foto">
                    <b> Servicio de fotografía para: <br><br></b>
                    <ul>
                        <li> Sesión de fotos de día</li>
                        <li> Sesión de fotos de noche</li>
                        <li> Todo el evento hasta las 4 am</li>
                    </ul>
                </div>
                <div class="video"></div>
                <div class="entregamos">
                    <b>Entregamos: <br><br></b>
                    Pendrive con todas las fotos alta calidad.
                </div>
                <div class="button">
                    <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="card">

                <div class="title">
                    <h1 class="eon6-primarycolor">Bodas Foto y Video</h1>
                </div>
                <div class="foto">
                    <b> Servicio de fotografía digital para: <br><br></b>
                    <ul>
                        <li>Civil + sesión posterior</li>
                        <li>Sesión de noche</li>
                        <li>Ceremonia</li>
                        <li>Fiesta hasta las 4 am</li>
                    </ul>
                </div>
                <div class="video">
                    <b> Servicio de video para: <br><br> </b>
                    <ul>
                        <li>Civil y sesión (backstage)</li>
                        <li>Ceremonia</li>
                        <li>Fiesta hasta las 4am</li>
                    </ul>
                </div>
                <div class="entregamos">
                    <b> Entregamos: <br><br></b>
                    Pendrive con todo el material editado en alta calidad.
                </div>
                <div class="button">
                    <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="card">

                <div class="title">
                    <h1 class="eon6-primarycolor">Quinces Foto y video</h1>
                </div>
                <div class="foto">
                    <b> Servicio de fotografía digital para: <br><br></b>
                    <ul>
                        <li>Sesión de día</li>
                        <li>Sesión de noche</li>
                        <li>Fiesta hasta las 4 am</li>
                    </ul>
                </div>
                <div class="video">
                    <b> Servicio de video para: <br><br></b>
                    <ul>
                        <li>Fiesta hasta las 4am</li>
                    </ul>
                </div>
                <div class="entregamos">
                    <b> Entregamos: <br><br></b>
                    Pendrive con todo el material editado en alta calidad.
                </div>
                <div class="button">
                    <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- </div> -->