<div class="parallax">

    <p>"captura tus momentos para hacerlos infinitos"</p>

</div>

<div class="grid" id="combos">
    <div class="digital">

        <h1 class="eon6-primarycolor">Combo de Foto para Bodas</h1>
        <p>
            <b> Servicio de fotografía digital para:</b>
            <br>
            <br>
            <br>
            <br> Civil + sesión posterior de noche
            <br> Ceremonia
            <br>Fiesta hasta las 4am
            <br>
            <br> <b> Entregamos:</b>
            <br>
            <br> Pendrive con todas las fotografías en alta calidad.

        </p>
        <a href="#contacto"><button class="eon6-primarycolor">Contratar</button></a>
    </div>

    <div class="bodas">

        <h1 class="eon6-primarycolor">Combo Bodas Foto y Video</h1>
        <p>
            <b> Servicio de fotografía digital para:</b>
            <br>
            <br> Civil + sesión posterior
            <br> Sesión de noche
            <br> Ceremonia
            <br> Fiesta hasta las 4 am
            <br> <b> Servicio de video para:</b>
            <br>
            <br> civil y sesión (backstage)
            <br> Ceremonia
            <br> Fiesta hasta las 4am
            <br>
            <br> <b> Entregamos:</b>
            <br>
            <br> Pendrive con todo el material editado en alta calidad.

        </p>
        <a href="#contacto"><button class="eon6-primarycolor">Contratar</button></a>
    </div>

    <div class="quinces">

        <h1 class="eon6-primarycolor">Combo de Foto Para Quinces</h1>
        <p>
            <b> Servicio de fotografía para:</b>
            <br>
            <br> Todo el evento hasta las 4 am
            <br> Sesión de fotos de día
            <br>Sesión de fotos de noche
            <br>
            <br><b>Entregamos:</b>
            <br>
            <br> Pendrive con todas las fotos alta calidad.

        </p>
        <a href="#contacto"><button class="eon6-primarycolor">Contratar</button></a>
    </div>

    <div class="infantil">

        <h1 class="eon6-primarycolor">Combo Foto y video para Quinces</h1>
        <p>
            <b> Servicio de fotografía digital para:</b>
            <br>
            <br>Sesión de día
            <br>Sesión de noche
            <br>Fiesta hasta las 4 am
            <br><b>Servicio de video para:</b>
            <br>
            <br>Fiesta hasta las 4am
            <br><b> Entregamos:</b>
            <br>
            <br> Pendrive con todo el material editado en alta calidad.
        </p>
        <a href="#contacto"><button class="eon6-primarycolor">Contratar</button></a>
    </div>

</div>