<div class="contenedor">

    <h2 class="titulo">Galería</h2>

    <div class="cont-galeria ">
        <div class="masonry">

            <ng-container *ngFor="let photo of photos ; let i=index">
                <div class="item" (click)="open(i,Galeycarusel)">
                    <img [src]="photo.imagen" alt="">
                </div>
            </ng-container>

        </div>
    </div>

</div>

<!-- ************************************** modal con carrusel************************************************************** -->

<ng-template #Galeycarusel let-modal>

    <ngb-carousel [activeId]="carouselActive" *ngIf="photos" #myCarousel="ngbCarousel">

        <ng-container *ngFor="let photo of photos; let i=index">

            <ng-template ngbSlide [id]="i">

                <div class="slidewindow">
                    <img [src]="photo.imagen" alt="">
                </div>

            </ng-template>

        </ng-container>

    </ngb-carousel>

</ng-template>