<div class="contenedor">

    <div class="header">
        <img src="../../../assets/Fotos/LOGO-INVERTIDO.png" alt="logo">
        <strong>
        <a href=""> GQEventos</a>
        <a href=""> Productos</a>
        <a href=""> Nosotros</a>
        <a href=""> Contactos Clientes</a>
        </strong>
    </div>
    <div class="home-text">
        <h1>Bienvenidos a GQEventos</h1>
        <h2> la mejor opción para capturar y atesorar de manera única momentos preciados y eventos valiosos.</h2>
        <button>contactanos</button>
    </div>
</div>