.contenedor {
    position: relative;
    background-image: url(../../../assets/Fotos/Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    // max-height: 600px;
    width: 100vw;
    margin-top: -7vh;
    clip-path: polygon(0 0, 0 100%, 100% calc(100% - 5vw), 100% 0);
}

.home-text {
    display: block;
    position: absolute;
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
    // width: 100vw;
    top: 35%;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: bad script;
    color: white;
    font-size: 4vw;
    font-weight: normal;
    margin-bottom: 3vh;
}

h2 {
    font-family: Julius Sans One;
    color: white;
    font-size: 1vw;
    font-weight: normal;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    font-weight: 700;
}

button {
    margin-top: 5vh;
}

p{
    position: absolute;
    background: black;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(0 0, 0 100%, 100% calc(100% - 5vw), 100% 0);
    opacity: 0.3;
}