<div class="contenedor">

    <div class="header">
        <img src="../../../assets/Fotos/LOGO-INVERTIDO.png" alt="logo">
        <strong>
        <a href=""> GQEventos</a>
        <a href="#nosotros"> Nosotros</a>
        <a href="#productos"> Productos</a>
        <a href="#contacto"> Contactos Clientes</a>
        </strong>
    </div>

    <div class="home-text">

        <h1>Bienvenidos a GQEventos</h1>

        <h2> la mejor opción para capturar y atesorar de manera única <br> momentos preciados y eventos valiosos.</h2>

        <a href="#contacto"><button mat-raised-button color="primary">Contactanos</button></a>
    </div>

</div>