.contenedor {
    position: relative;
    background-image: url(../../../assets/Fotos/Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(0 0, 0 100%, 100% calc(100% - 5vw), 100% 0);
}

.header {
    position: absolute;
    display: flex;
    font-size: 1.2vw;
    text-align: end;
    align-items: center;
    word-spacing: 7vw;
    font-family: Julius Sans One;
}

.header img {
    max-width: 6vw;
    margin-right: 27vw;
    margin-left: 2vw;
}

.home-text {
    display: block;
    position: absolute;
    text-align: center;
    width: 100vw;
    top: 40%
}

h1 {
    font-family: bad script;
    color: white;
    text-align: center;
    font-size: 5vw;
    font-weight: normal;
}

h2 {
    font-family: Julius Sans One;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: normal;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    font-weight: 700;
}