$md-accent: (
    50 : #fffef7,
    100 : #fffeeb,
    200 : #fffdde,
    300 : #fffcd1,
    400 : #fffbc7,
    500 : #fffabd,
    600 : #fff9b7,
    700 : #fff9ae,
    800 : #fff8a6,
    900 : #fff698,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

