$md-primary-palette: (
    50 : #fffaf7,
    100 : #fff3eb,
    200 : #ffecde,
    300 : #ffe4d1,
    400 : #ffdec7,
    500 : #ffd8bd,
    600 : #ffd4b7,
    700 : #ffceae,
    800 : #ffc8a6,
    900 : #ffbf98,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);