// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './assets/primary-palette.scss';
@import './assets/accent-palette.scss';
@include mat-core();
$gqeventos-primary: mat-palette($md-primary-palette);
$gqeventos-accent: mat-palette($md-accent, A200, A100, A400);
$gqeventos-warn: mat-palette($mat-red);
$gqeventos-theme: mat-light-theme($gqeventos-primary, $gqeventos-accent, $gqeventos-warn);
@include angular-material-theme($gqeventos-theme);

/* You can add global styles to this file, and also import other style files */

//clases para aplicar los colores primerios
.eon6-primarycolor {
    color: mat-color($gqeventos-primary);
}

//definiciones generales 
html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    //tipografia 
    font-family: 'Bad Script', cursive;
    // font-family: 'Dancing Script', cursive;
    // font-family: 'Julius Sans One', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

// CRISTIAN:
// Este link genera las paletas de colores como la usada en primary
// http://mcg.mbitson.com/#!?theming=%23ffd8bd
// En body font-family va la fuente